<div>

  <% if isUser == 'yes'
      userInContext = 'You have'
   else
      userInContext = 'This user has'
   end %>
  <% if reservations.has_key?('requestedCars') %>
      <div class="panel panel-info">
        <div class="panel-heading">Requested Cars</div>
        <%= render 'templates/car_checkout_table.html.erb', cars: reservations['requestedCars'], user: user, car_status: 'requested' %>
      </div>
  <% else %>
      <div class="alert alert-warning" role="alert"><%= userInContext %> not requested any car.</div>
  <% end %>
  <% if reservations.has_key?('reservedCars') %>
      <div class="panel panel-info">
        <div class="panel-heading">Reserved Car</div>
        <%= render 'templates/car_checkout_table.html.erb', cars: reservations['reservedCars'], user: user, car_status: 'booked' %>
      </div>
  <% else %>
      <div class="alert alert-warning" role="alert"><%= userInContext %> not reserved any car.</div>
  <% end %>

  <% if reservations.has_key?('checkedOutCars') %>
      <div class="panel panel-info">
        <div class="panel-heading">Checked-out Car</div>
        <%= render 'templates/car_checkout_table.html.erb', cars: reservations['checkedOutCars'], user: user , car_status: 'checked out' %>
      </div>
  <% else %>
    <div class="alert alert-warning" role="alert"><%= userInContext %> not checked out any cars.</div>
  <% end %>

  <% if reservations.has_key?('checkedOutHistory') %>
      <div class="panel panel-info">
        <div class="panel-heading">Checked-out history</div>
        <%= render 'templates/car_checkout_table.html.erb', cars: reservations['checkedOutHistory'], user: user, car_status: 'returned'%>
      </div>
  <% else %>
    <div class="alert alert-warning" role="alert"><%= userInContext %> no checked out history.</div>
  <% end %>
</div>