<p id="notice"><%= notice %></p>
<div>
  <h2>
    Welcome <%= @user['name'] %>
  </h2>

  <span class="edit-profile"><%= link_to 'Edit profile', edit_profile_path %></span>

  <span class="logout"><%= link_to 'Logout', logout_path %></span>

  <%= form_tag(cars_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Cars" %>
      <%= submit_tag "Search" %>
  <% end %>

  <% if @user['u_type'] == 1 %>
      <%= render 'superadmin.html.erb', cars: @cars, user: @user%>
  <% end %>

  <% if @user['u_type'] == 2 %>
      <%= render 'admin.html.erb', cars: @cars, user: @user%>
  <% end %>

  <% if @user['u_type'] == 3 %>
    <%= render 'customer.html.erb', cars: @cars, user: @user, reservations: @reservations%>
  <% end %>

</div>