<% if notice %>
  <div class="alert alert-danger" id="notice"><%= notice %></div>
<% end %>
<div style="margin-top: 15px;">
  <div class="row">
    <div class="col-lg-6 search-bar">
      <%= form_tag(cars_path, :method => "get", id: "search-form") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "Enter keyword here!", class: "form-control" %>
          <span class="input-group-btn"><%= submit_tag "Search Cars", class: 'btn btn-lg btn-primary btn-block button' %></span>
        </div>
      <% end %>
    </div>
  </div>

  <% if @user['u_type'] == 1 %>
      <%= render 'superadmin.html.erb', cars: @cars, user: @user%>
  <% end %>

  <% if @user['u_type'] == 2 %>
      <%= render 'admin.html.erb', cars: @cars, user: @user%>
  <% end %>

  <% if @user['u_type'] == 3 %>
    <%= render 'customer.html.erb', cars: @cars, user: @user, reservations: @reservations, isUser: 'yes'%>
  <% end %>

</div>