<div class="table-div">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>License Number</th>
      <th>Manufacturer</th>
      <th>Model Number</th>
      <% if car_status == 'requested' %>
          <th>Availability</th>
      <% elsif car_status == 'booked' %>
          <th>Booked on</th>
          <th>Booking expiring at</th>
          <th colspan="2">Options</th>
      <% elsif car_status == 'checked out' %>
          <th>Checked out on</th>
          <th>Expected return</th>
          <th>Expected Charge</th>
          <th>Options</th>
      <% elsif car_status == 'returned' %>
          <th>Checked out on</th>
          <th>Returned on</th>
          <th>Total Charge</th>
      <% elsif car_status == 'all' %>
          <th>Checked out / Booked on</th>
          <th>Checked out / Booked till</th>
          <th>Current Status</th>
          <th>Charges</th>
          <th>Checked out by</th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% cars.each do |car| %>
        <tr>
          <td><%= link_to car.license, car %></td>
          <td><%= car.manufacturer %></td>
          <td><%= car.model %></td>
          <% if car_status == 'all' %>
              <td><%= car.time_from %></td>
          <td><%= car.time_to %></td>
          <td><%= car.status %></td>
          <td>$<%= car.duration.to_i * car.hourly.to_i %> for <%= car.duration.to_i%> hours</td>
          <td><%= car.checkout_by %></td>
          <% elsif car_status == 'requested' %>
            <td><%= car.availability %></td>
          <% else %>
            <td><%= car.time_from %></td>
            <% if car.status == 'booked' %>
                <td><%= car.time_to %></td>
                <td><%= link_to 'Checkout', car %></td>
                <td><%= link_to 'Cancel booking', {:controller => "cars", :action => "cancel_booking", :car => car.license } %></td>
            <% elsif car.status == 'checked out' %>
                <td><%= car.time_to %></td>
                  <td>$<%= car.duration.to_i * car.hourly.to_i %> for <%= car.duration.to_i%> hours</td>
                <td><%= link_to 'Return', {:controller => "cars", :action => "return_car", :car => car.license } %><td>
            <% elsif car.status == 'returned' %>
                <td><%= car.updated_at %></td>
                  <td>$<%= car.duration.to_i * car.hourly.to_i %> for <%= car.duration.to_i%> hours</td>

              <% end %>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>