
<p>
  <span class="span-label"><strong>License:</strong></span>
  <span class="span-value"><%= car.license %></span>
</p>

<p>
  <span class="span-label"><strong>Manufacturer:</strong></span>
  <span class="span-value"><%= car.manufacturer %></span>
</p>

<p>
  <span class="span-label"><strong>Model:</strong></span>
  <span class="span-value"><%= car.model %></span>
</p>

<p>
  <span class="span-label"><strong>Hourly:</strong></span>
  <span class="span-value"><%= car.hourly %></span>
</p>

<p>
  <span class="span-label"><strong>Style:</strong></span>
  <span class="span-value"><%= car.style %></span>
</p>

<p>
  <span class="span-label"><strong>Location:</strong></span>
  <span class="span-value"><%= car.location %></span>
</p>

<p>
  <span class="span-label"><strong>Availability:</strong></span>
  <span class="span-value"><%= car.availability %></span>
</p>

<% if @user_context %>
    <% unless car.availability == "Checked_Out" %>
        <div class="form-div form-inside-div">
          <%= render 'templates/car_checkout.html.erb', car: car, checkout: @checkout %>
        </div>
    <% end %>
<% end %>