<%= form_with(model: checkout, local: true) do |form| %>

    <% if checkout.errors.any? %>
        <% checkout.errors.full_messages.each do |message| %>
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <%= message %>
            </div>
        <% end %>
    <% end %>

    <%= form.datetime_field :time_from, id: :time_from, min: DateTime.now, max: DateTime.now + 6.days, placeholder: 'Time from', class: 'form-control', style: "margin-bottom: 15px" %>

    <%= form.number_field :duration, id: :duration, value: 1, min: 1, max: 10, placeholder: 'Number of hours', class: 'form-control', style: "margin-bottom: 15px" %>

    <%= form.text_field :checkout_by, id: :checkout_by, placeholder: 'Email Address', class: 'form-control', style: "display:none;" %>

    <%= form.text_field :license, id: :license, placeholder: 'Email Address', class: 'form-control', style: "display:none;" %>

    <%= form.submit 'Checkout Now', class: 'btn btn-primary button' %>
    <%= form.submit 'Reserve', name: 'reserve', class: 'btn btn-primary button' %>
<% end %>