<p>
  <span class="span-label"><strong>License:</strong></span>
  <span class="span-value"><%= car.License %></span>
</p>

<p>
  <span class="span-label"><strong>Manufacturer:</strong></span>
  <span class="span-value"><%= car.Manufacturer %></span>
</p>

<p>
  <span class="span-label"><strong>Model:</strong></span>
  <span class="span-value"><%= car.Model %></span>
</p>

<p>
  <span class="span-label"><strong>Hourly:</strong></span>
  <span class="span-value"><%= car.Hourly %></span>
</p>

<p>
  <span class="span-label"><strong>Style:</strong></span>
  <span class="span-value"><%= car.Style %></span>
</p>

<p>
  <span class="span-label"><strong>Location:</strong></span>
  <span class="span-value"><%= car.Location %></span>
</p>

<p>
  <span class="span-label"><strong>Availability:</strong></span>
  <span class="span-value"><%= car.Availability %></span>
</p>

<p>
  <span class="span-label"><strong>Checkout:</strong></span>
  <span class="span-value"><%= car.Checkout %></span>
</p>