<%= form_with(model: login, local: true, html: {class: "form-sign"}) do |form| %>
    <% if login.errors.any? %>
      <% login.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= message %>
        </div>
      <% end %>
    <% end %>
    <h2 class="form-sign-header">Please login</h2>
    <%= form.text_field :email_id, id: :user_email_id, placeholder: 'Email Address', class: 'form-control' %>
    <%= form.password_field :password, id: :user_password, placeholder: 'Password', class: 'form-control' %>
    <%= form.submit 'Login', class: 'btn btn-lg btn-primary btn-block button' %>
<% end %>