<%= form_with(model: sign_up, local: true, html: {class: "form-sign"}) do |form| %>
    <% if sign_up.errors.any? %>
        <% sign_up.errors.full_messages.each do |message| %>
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <%= message %>
            </div>
        <% end %>
    <% end %>

    <%
      if @user
        if @user['u_type'] == 1
          @options_for_type = [
              { "name" => "Super Admin", "id" => 1},
              { "name" => "Admin", "id" => 2},
              { "name" => "Customer", "id" => 3}
          ]
        elsif @user['u_type'] == 2
          @options_for_type = [
              { "name" => "Admin", "id" => 2},
              { "name" => "Customer", "id" => 3}
          ]
        end
      end

      if action == 'new'
        action = 'Create new user'
      elsif action == 'sign_up'
        action = 'Signup'
      end
      %>

    <h2 class="form-sign-header"><%= action %></h2>
    <% if @options_for_type %>
        <%= form.select :u_type, options_for_select(@options_for_type.map {|p| [ p['name'], p['id'] ] }), {}, {class: 'form-control'} %>
    <% else %>
        <div class="field" style="display: none;">
          <%= form.text_field :u_type, id: :u_type, value: '3' %>
        </div>
    <% end %>

    <%= form.text_field :email_id, id: :user_email_id, placeholder: 'Email Address', class: 'form-control' %>
    <%= form.text_field :name, id: :user_name, placeholder: 'Full Name', class: 'form-control' %>
    <%= form.password_field :password, id: :user_password, placeholder: 'Password', class: 'form-control' %>
    <%= form.password_field :confirm_password, id: :user_password, placeholder: 'Confirm Password', class: 'form-control' %>
    <%= form.submit action, class: 'btn btn-lg btn-primary btn-block button'  %>
    </div>
<% end %>