<%= form_with(model: sign_up, local: true) do |form| %>
    <% if sign_up.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(sign_up.errors.count, "error") %> prohibited this user from signing up</h2>

          <ul>
            <% sign_up.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%
      if @user
        if @user['u_type'] == 1
          @options_for_type = [
              { "name" => "Super Admin", "id" => 1},
              { "name" => "Admin", "id" => 2},
              { "name" => "Customer", "id" => 3}
          ]
        elsif @user['u_type'] == 2
          @options_for_type = [
              { "name" => "Admin", "id" => 2},
              { "name" => "Customer", "id" => 3}
          ]
        end
      end
      %>

    <% if @options_for_type %>
        <div class="field">
          <%= form.label :u_type %>
          <%= form.select :u_type, options_for_select(@options_for_type.map {|p| [ p['name'], p['id'] ] }) %>
        </div>
    <% else %>
        <div class="field" style="display: none;">
          <%= form.label :u_type %>
          <%= form.text_field :u_type, id: :u_type, value: '3' %>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :email_id %>
      <%= form.text_field :email_id, id: :user_email_id %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :user_name %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, id: :user_password %>
    </div>

    <div class="field">
      <%= form.label :confirm_password %>
      <%= form.password_field :confirm_password, id: :user_password %>
    </div>

    <div class="actions">
      <%= form.submit action %>
    </div>
<% end %>