<%= form_with(local: true) do |form| %>
    <div class="field">
      <%= form.label :email_id %>
      <%= form.text_field :email_id, id: :user_email_id %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :user_name %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, id: :user_password %>
    </div>

    <div class="field">
      <%= form.label :confirm_password %>
      <%= form.password_field :confirm_password, id: :user_password %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>