<p id="notice"><%= notice %></p>

<div class="table-div">
  <div class="div-header">
    <h1>Users</h1>
    <%= link_to 'New User', new_user_path %>
    <%= link_to 'Back', dashboard_path %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Type</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.email_id, user %></td>
            <td><%= user.name %></td>
            <% if user.u_type.to_i == 1 %>
              <td>Super Admin</td>
            <% elsif user.u_type.to_i == 2 %>
              <td>Admin</td>
            <% else %>
              <td>Customer</td>
            <% end %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
