<p id="notice"><%= notice %></p>

<div class="show-div">
  <%= link_to 'Home', dashboard_path,  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 25px;'  %>
  <%= link_to 'Edit', edit_user_users_path(email_id: @user),  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 25px;'  %>

  <% if @user['u_type'] == 3 %>
    <% unless @reservations['checkedOutCars'] %>
      <td><%= link_to 'Delete', delete_user_users_path(email_id: @user), data: { confirm: 'Are you sure?' },  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 25px;' %></td>
    <% else %>
          <div  class="btn" role="button" style="margin-top: 15px; margin-bottom: 25px;border: 1px solid gray; background: lightgray;">Delete</div>
      <% end %>
  <% elsif @user['u_type'] == 2 %>
      <td><%= link_to 'Delete', delete_user_users_path(email_id: @user), data: { confirm: 'Are you sure?' },  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 25px;' %></td>
  <% else %>
      <div  class="btn" role="button" style="margin-top: 15px; margin-bottom: 25px;border: 1px solid gray; background: lightgray;">Delete</div>
  <% end %>
</div>
  <p>
    <span class="span-label"><strong>Email:</strong></span>
    <span class="span-value"><%= @user.email_id %></span>
  </p>

  <p>
    <span class="span-label"><strong>Name:</strong></span>
    <span class="span-value"><%= @user.name %></span>
  </p>

  <p>
    <span class="span-label"><strong>Type:</strong></span>
    <span class="span-value"><%= @user.u_type %></span>
  </p>


</div>

<div class="container container-fluid">
  <% if @user['u_type'] == 3 %>
      <%= render 'dashboard/customer.html.erb', reservations: @reservations, user: @user_context, isUser: 'no' %>
  <% end %>
</div>
