<%= form_with(model: car_checkout, local: true) do |form| %>
  <% if car_checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_checkout.errors.count, "error") %> prohibited this car_checkout from being saved:</h2>

      <ul>
      <% car_checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :license %>
    <%= form.text_field :license, id: :car_checkout_license %>
  </div>

  <div class="field">
    <%= form.label :checkout_by %>
    <%= form.text_field :checkout_by, id: :car_checkout_checkout_by %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :car_checkout_duration %>
  </div>

  <div class="field">
    <%= form.label :checkout_at %>
    <%= form.datetime_select :checkout_at, id: :car_checkout_checkout_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
