<%= form_with(model: car, local: true, html: {class: "form-sign"}) do |form| %>
  <% if car.errors.any? %>
        <% car.errors.full_messages.each do |message| %>
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <%= message %>
            </div>
        <% end %>
  <% end %>

    <%
      if @car
        @options_for_style = [
            { "name" => "Sedan","id" => "Sedan"},
            { "name" => "SUV","id" => "SUV" },
            { "name" => "Coupe","id" => "Coupe"}
        ]
      end
    %>
    <h2 class="form-sign-header">Car Details</h2>
    <%= form.text_field :license, id: :car_License, placeholder: 'License', class: 'form-control' %>

    <%= form.text_field :manufacturer, id: :car_Manufacturer, placeholder: 'Manufacturer', class: 'form-control' %>

    <%= form.text_field :model, id: :car_Model, placeholder: 'Model Name', class: 'form-control' %>

    <%= form.text_field :hourly, id: :car_Hourly, placeholder: 'Hourly Price', class: 'form-control' %>

    <%= form.select :style, options_for_select(@options_for_style.map {|p| [ p['name'], p['id'] ] }), {}, {class: 'form-control'} %>

    <%= form.text_field :location, id: :car_Location, placeholder: 'Availability Location', class: 'form-control' %>

    <%= form.submit 'Submit', class: 'btn btn-lg btn-primary btn-block button' %>
<% end %>
