<% if notice %>
    <div class="alert alert-danger" id="notice"><%= notice %></div>
<% end %>

<%= link_to 'Home', dashboard_path,  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 10px;' %>

<% if @user_context %>
  <div class="alert alert-success">
    <span class="span-label"><strong>Booking for:</strong></span>
    <span class="span-value"><%= @user_context['email_id'] %></span>
    <%= link_to 'Abort booking', cancel_reservation_path %>
  </div>
<% end %>
<%= render 'templates/car_table.html.erb', cars: @cars, user_context: @user_context, user: @user %>